/* Set Variable*/
$primarycolor: white;
$secondarycolor: rgb(62, 62, 247);
$greycolor: rgb(53, 52, 52);
$gapwidth: 10px;


/* Grid basic layout to be use for extention */
.grid {
    display: grid;
    margin: auto;
    width: auto;
    gap: $gapwidth;
}

/* Create a grid for the columns*/
.gridcolumnshead {
    @extend.grid;
    grid-auto-flow: column;
    background-color:$primarycolor;
}

/* Create a grid for the rows*/
.gridrowshead {
    @extend.grid;
    grid-auto-flow: row;
    background-color: $primarycolor;
}

/* Create a grid for the columns on search bar*/
.gridcolumnsearch {
    @extend.grid;
    grid-auto-flow: column;
}

/*Create a class styling*/
.greybutton{
    background-color: $greycolor;
    color:$primarycolor;
}
/*Create a class styling*/
.allDepartments{
    background-color:$primarycolor;
    color: black;
}

/*Create a styling class for Displayed main product*/
.mainProductSize{
    height:200px;
    width:200px;
}



/*Create a styling class for Might like products*/
.mightLikeSize{
    height:150px;
    width:120px;
}

/*Create a styling class for Related Products*/
.relatedProductSize{
    height:150px;
    width:120px;
}

/*Create a styling class for Accreditations by payment methods*/
.acreditationsSize{
    height:40px;
    width:120px;
}

